//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html { @include font }
button{user-select: none;}
body {
  margin: 60px 0;
  background-color: $background-color-3;
}

//fonts

h1 { font: $h1 }
h2 { font: $h2 }
h3 { font: $h3 }
h4 { font: $h4 }
p  { font: $p  }
a  { @include link }
h1 { line-height: 1.2 }

//primitives

.primary       { @include primary }
.secondary-alt { @include secondary-alt }
.secondary     { @include secondary }

// color and size

.fw   { width: 100% }


.red  { color:$red-1 }
.blue { color:$dark-blue-3 }
[data-type='alt']{ color:$font-color-3 }


header, aside, footer{
  position: fixed;
  background-color: white;
}

//full page popup header

header {
  @include size(60px, 100%);
  @include flex(center,space-between, row);
  border-bottom: 1px solid $border-color-3;
  color: $font-color-1;
  font-weight: 600;
  padding: 0 20px;
  top:     0;
  left:    0;
  z-index: 20;

  //close button (X)

  .close {
    @include size(10px, 10px);
    position: relative;
    border: none;
    background: none;

    &:after,
    &:before {
      content: '';
      @include size(14px, 2px);
      background-color: $grey-2;
      display: block;
      border-radius: 2px;
      position: absolute;
      top: 0;
    }

    &:before { transform: rotate(45deg)  }
    &:after  { transform: rotate(-45deg) }
  }
}


// sidebar

aside {
  * { margin-bottom: 10px}
  @include    size(100%, 240px );
  min-height: calc(100vh - 60px);
  padding: 30px 20px;
  font-weight: 500;

  // number

  .step span {
    @include size(20px, 20px);
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
    margin-right: 10px;
    text-align: center;
    border-radius: 4pc;
    border: 1px solid $border-color-2;
  }

  .active-step {
    background-color: $blue-1;
    color: $white;
    border: 1px solid $blue-1!important;
  }

}


//container

container {
  @include size(100%, calc(100% - 240px));
  @include grid(350px, 1fr, 20px);
  margin-left: 240px;
  padding: 20px;
}

.container-horizontal {
  @include grid(100%, 1fr, 20px);
}


//card

.card, .cost-box{
  border-radius: 4px;
  position: relative;
}

.deck{
  @include flex(flex-start, stretch, column);
  height: 100%;
  position: relative;
}

.card {
  flex-grow: 1;
  @include flex(space-between, stretch, column);
  background-color: white;
  padding: 30px 30px 90px 30px;
  &:hover { @include shadow }
}


.description{
  display: block;
  min-height: 50px;
}

//add-on addon-title
.addon-title{
  @include flex(center, flex-start, row);
  &::after{
    content:'ADD-ON';
    display: inline-block;
    font-size: 10px;
    border: 1px solid $blue-1;
    padding: 2px 5px;
    border-radius: 3px;
    color: $blue-1;
    font-weight: 500;
    margin-left: 20px;
    flex-shrink: 0;
  }
}

input:disabled, select:disabled{
  background-color: $background-color-3;
  pointer-events: none;
}

.locked{
  @include tooltip('License Level must match Acropolis.', 200px);
  @include tooltip-dark();
  z-index: 200;
  font-size: 12px;
  &:after{
    line-height: 1.5
    }
}

//enabling card animation
.active{
  animation: fadeIn 600ms $animation 600ms 1 alternate;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0.3 } to { opacity: 1 }
}

//cost box
.c-cost, .s-cost{
  @include flex(center, flex-start, row);
  &:before{
    content: '';
    @include size(6px, 6px);
    display: inline-block;
    border-radius: 4pc;
    margin-right: 10px;
  }
  &:after{
    color: $font-color-3;
    margin-left: 6px;
  }
}


.c-cost::before { background-color: #F25C61 }
.c-cost::after {content: 'Core Licenses';}

.s-cost::before { background-color: #8A77ED }
.s-cost::after {content: 'TiB Flash Licenses';}

.cFiles .s-cost::after, .cDataEncryption .s-cost:last-child::after{
  content: 'TiB Storage Licenses';
}

.cost-box{
  margin-top: 15px;
  padding: 15px 20px;
  @include flex(flex-start, center, column);
}


//cost box color variation

.cost-gray{ background-color: $background-color-3 }

.cost-blue{
  color: $dark-blue-1;
  background-color: $light-blue-3;
  .c-cost::after, .s-cost::after{color: $blue-2 }
}

.cost-red{
  color: $red-2;
  background-color: #FFF7F7!important;
  span { color: $dark-red-3 }
  .c-cost::after, .s-cost::after{color: $red-2 }
}

.cost-addon{
  &::after{
    content:'Files add-on licenses'!important }
}


// button for card footer

.footer-btn{
  position: absolute;
  bottom: 0;
  margin: 0 -30px ;
  width: 100%;
  height: 50px;
  border: none;
  border-top: 1px solid $border-color-3;
  border-radius: 0 0 4px 4px;
  color: $blue-1;
}

.disabled{
  pointer-events: none;
}

//popover

.popover{
  @include size( auto, 250px);
  h3{
    text-align: center;
    margin-bottom: 15px;
  }
  position: absolute;
  bottom: -15%;
  left: 75%;
  padding: 20px;
  z-index: 100;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0   0 1px rgba(0, 0, 0, 0.05),
              0 9px 9px 0 rgba(0, 0, 0, 0.02),
							0 3px 3px 0 rgba(0, 0, 0, 0.02),
							0 1px 1px 0 rgba(0, 0, 0, 0.02);


  &::before{
    position: absolute;
    display: block;
    content: '';
    @include size(8px, 8px);
    top: calc(50%);
    left: -3px;
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 100;
    box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.05);

  }
  div,input{margin-bottom: 20px;}

}

.popover-right{
  left: -45%;
  &::before{
    left: calc(100% - 5px);
    box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.05);
  }
}


@include inputStyle;

//dropdown styling

select{
  -webkit-appearance: none;
  padding: 0 11px;
  line-height: 1;
  position: relative;
  margin-top: 8px;
  user-select: none;
}

.selectdiv{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top:42px;
    right: 10px;
    @include size(8px, 4px);
    background: url('../img/select.svg');
    background-size: contain;
  }
}

.cAcropolis .selectdiv:after{
  top:34px;
}

.input-grid{
  @include grid(auto, 120px, 20px);
  margin-top: 3px;
  input{
    margin-bottom: 0;
    margin-top:8px;
  }
}

//footer

footer{
  @include size(60px,calc(100% - 240px));
  margin-left: 240px;
  @include flex(center, space-between, row);
  background: white;
  bottom:0;
  border-left: 1px solid $background-color-3;
  padding: 0 20px;
}


// input input-error
.input-error{
  border-color: $red-1!important;
  color: $red-1!important;
}

.iii{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.btn-disabled{
  pointer-events: none;
  opacity: 0.3;
}

// first step page

.image-container{
  @include size(calc(100vh - 100px), 500px);
  @include flex(center, center, column);
  p{text-align: center;
    margin-bottom: 20px;
  }
  img{ @include size(120px, auto)
    margin-bottom: 40px;
  }
  margin: auto;
}


//review page

.table-page{
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
}

.furniture-store{
  & > h3 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.table-container{
  @include flex(stretch,stretch, row);
  background-color: white;
  border-radius: 4px;
  @include shadow();
  margin-top: 20px;
  table{width: 100%}
  th{
    color: $font-color-2;
    text-align:left;
    border-bottom: 1px solid $border-color-3;
    padding: 12px 15px
  }
  th:not(:last-child){
  border-right: 1px solid $border-color-3;
  }
  tr:not(:last-child){border-bottom: 1px solid $border-color-3;}
  td{padding: 12px 15px}
}


//popupData
.overlay {
	@include size(100%, 100vw);
	@include flex(center, center, column);
	@include absolute();
	background-color: rgba(0,0,0,0.4);
	// overflow: hidden;
	z-index: 100;
	@include transition(opacity);
}

.popup {
	@include size(auto,400px);
	@include shadow;
}

.popup-header {
	@include flex(center, center ,row);
	@include size(auto, 100%);
	position: relative;
	background-color: white;
	border-radius: 4px 4px 0 0;
	padding: 20px;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid $border-color-3;
	line-height: 10px;

	&:hover::after,
	&:hover::before {
		background-color: $font-color-1;
	}

	&:hover {
		cursor: pointer;
	}

	&::after,
	&::before {
		content: '';
		@include absolute(18px,'',23px);
		@include size(14px, 2px);
		border-radius: 3px;
		display: block;
		background-color: $font-color-3;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
.popup-body {
	@include size(auto,100%);
	@include flex(center, center, column);
	padding: 30px 20px;
	background-color: white;
	max-height: 500px;
	overflow-y: scroll;

}

.popup-footer {
	@include flex(center,flex-end,row);
	@include size(72px, 100%);
	border-radius: 0 0 4px 4px;
	border-top: 1px solid $border-color-3;
	background-color: white;
	padding: 20px;
}
